<h1>Pages#pag1</h1>
<p>Find me in app/views/pages/pag1.html.erb</p>
<div class="jumbotron">
  <h1>Hola Mundo!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<script type="text/javascript">
	$.backstretch("http://dl.dropbox.com/u/515046/www/garfield-interior.jpg");
</script>

  