<h1>Pages#pag2</h1>
<p>Find me in app/views/pages/pag2.html.erb</p>
<%= image_tag 'Flor1.jpg' %>
<%= image_tag 'Flor2.png' %>

  <button id = "Btn1" type="button" class="btn btn-default">Boton 1</button>
  <script type="text/javascript">
  $("#Btn1").click(function(e) {
    e.preventDefault();
    $.backstretch('http://dl.dropbox.com/u/515046/www/outside.jpg');
  });
  </script>

