<body>
<h1>Pages#pag3</h1>
<p>Find me in app/views/pages/pag3.html.erb</p>
<script type="text/javascript">
var cuantosClicks = 0
  $("html").click(function(e) {
  	cuantosClicks++;
  	if(cuantosClicks ==2){
    e.preventDefault();
    $.backstretch('http://dl.dropbox.com/u/515046/www/outside.jpg');
	}
  });
  </script>




</body>